/*-- function for calculating padding with borders --*/




@function bordered-button-padding ($border-thickness){
	 @return 1 - ($border-thickness / $base) + em;
}

@function small-bordered-button-padding ($border-thickness){
	 @return 0.5 - ($border-thickness / $base) + em;
}

@function large-bordered-button-padding ($border-thickness){
	 @return 2 - ($border-thickness / $base) + em;
}

/*-- BUTTONS WITH BORDERS SHOULD HAVE A 2PX --*/  
/*-- BORDER WHICH ADDS 0.25EM TO THE HEIGHT --*/  
/*-- AND WIDTH. REDUCE THE HEIGHT BACK TO   --*/  
/*-- BASELINE METRICS BY REMOVING IT FROM   --*/  
/*-- THE PADDING --*/

/*-- NB! THIS DOESN'T WORK WELL ON 'INPUT TYPE = BUTTON' --*/ 

/*-- 16 MINUS BORDER THICKNESS DIVIDED BY 16 = PADDING --*/
/*-- SASS CALCULATIONS IN STYLE.SCSS --*/

.border0px {
	border-style : solid;
	border : 0;
	padding: 1em!important;
}

.large.border0px {
	border-style : solid;
	border : 0;
	padding: 2em!important;
}

.border1px {
	border-style : solid;
	border-width : 1px;
	padding: bordered-button-padding(1px) /*0.9375em*/;
}

.border2px {
	border-style : solid;
	border-width : 2px;
	font-size : 1em;
	line-height : 1em;
	padding: bordered-button-padding(2px); /*-- 0.75em --*/
}

.border4px {
	border-style : solid;
	border-width : 4px;
	padding: bordered-button-padding(4px);
}

.border8px {
	border-style : solid;
	border-width : 8px;
	padding: bordered-button-padding(8px);
}


.small.border1px {
	padding: small-bordered-button-padding(1px);
}

.small.border2px {
	padding: small-bordered-button-padding(2px);
}

.small.border4px {
	padding: small-bordered-button-padding(4px);
}


.large.border1px {
  padding: large-bordered-button-padding(1px);
}

.large.border2px {
  padding: large-bordered-button-padding(2px);
}

.large.border4px {
  padding: large-bordered-button-padding(4px);
}

.large.border8px {
  padding: large-bordered-button-padding(8px);
}