/* COLORS */
/*-- Declare colors first    --*/
/*-- then make classes after --*/

$white : #ffffff;
$black : #000;


$yellow : #ffed00;
$lightYellow : lighten($yellow, 30);
$mediumYellow : darken($yellow, 3);
$darkYellow : darken($yellow, 10);


/*$blue : #0c73ff;*/
$blue : #007acc;
$superLightBlue : lighten($blue, 40);
$lightBlue : lighten($blue, 20);
$darkBlue : darken($blue, 20);
$superDarkBlue : darken($blue, 25);


$green : #88d03e;
$lightGreen : lighten($green, 20);
$darkGreen : darken($green, 20);


$orange : #ff9800;
$superLightOrange : lighten($orange, 40);
$lightOrange : lighten($orange, 20);
$darkOrange : darken($orange, 20);


$purple	: #7713e0;
$lightPurple : lighten($purple, 50);
$darkPurple : darken($purple, 50);


$pinkPurple	: #bd10e0;
$superLightPinkPurple : lighten($pinkPurple, 45);
$lightPinkPurple : lighten($pinkPurple, 30);
$darkPinkPurple : darken($pinkPurple, 20);


$redPink : #f2463c;
$lightRedPink : lighten($redPink, 50);
$darkRedPink : darken($redPink, 50);


$salmon	: #facfcc;
$lightSalmon : lighten($salmon, 50);
$darkSalmon : darken($salmon, 50);


$pink : #e11281;
$lightPink : lighten($pink, 50);
$darkPink : darken($pink, 50);


$grey : #ccc;
$superLightGrey : #f8f8f8;
$lightGrey : #e8e8e8;
$darkLightGrey : #d8d8d8;
$mediumGrey : #a8a8a8;
$darkGrey : #585858;
$superDarkGrey : #383838;

$warmGrey : #e2e2d8;
$darkWarmGrey : #b7b79e;
$superDarkWarmGrey : #302f2a;


$red : #DD4330;
$superLightRed : lighten($red, 43);
$lightRed : lighten($red, 35);
$darkRed : darken($red, 20);


$seablue : #50E3C2;
$lightSeablue : lighten($seablue, 30);
$mediumSeablue : darken($seablue, 3);
$darkSeablue : darken($seablue, 50);



/*
-- B L A C K  'N  W H I T E --
*/

.black {
  background-color : $black;
  color : $white;
  border-color: $black;
  hr {background-color : $darkGrey;}
  p,h1,h2,h3,h4 {color : $white;}
}
.blackText {color : $black;}

.white {
  background-color : $white;
  color : $black;
  border-color : $grey;
}
.whiteText {color : $white;}


/*
-- Y E L L O W S --
*/

.yellow {
  background-color : $yellow;
  color : $black;
  border-color: $darkYellow;
  hr {background-color : $darkYellow;}
    /*p,h1,h2,h3,h4 {color : ;}*/
    
}

.lightYellow {
  background-color : $lightYellow;
  color : $black;
  border-color : $darkYellow;
    /*p,h1,h2,h3,h4 {color : ;}*/
}

.mediumYellow {
  background-color : $mediumYellow;
  color : $white;
  border-color : $darkYellow;
    /*p,h1,h2,h3,h4 {color : ;}*/
}
.yellowText {color : $yellow};
.darkYellowText {color : $darkYellow};


/*
-- B L U E S --
*/


.blue {
  background-color : $blue;
  color : $superLightBlue;
  border-color : $darkBlue;
  hr {background-color : $darkBlue;}
  p,h1,h2,h3,h4 {color : $superLightBlue;}
}
.lightBlue {
  background-color : $lightBlue;
  color : $superDarkBlue;
  h1,h2,h3,h4 {color : $superDarkBlue;}
  p {color : $white;}
}
.superLightBlue {
  background-color : $superLightBlue;
  color : $darkBlue;
    /*p,h1,h2,h3,h4 {color : ;}*/
}

.darkBlue {
  background-color : $darkBlue;
  color : $lightBlue;
  p,h1,h2,h3,h4 {color : $lightBlue;}
}
.superDarkBlue {
  background-color : $superDarkBlue;
  color : $superLightBlue;
  p,h1,h2,h3,h4 {color : $superLightBlue;}
}
.blueText {color : $blue};


/*
-- G R E E N S --
*/

.green {
  background-color : $green;
  color : $black;
  border-color : $darkGreen;
    /*p,h1,h2,h3,h4 {color : ;}*/
}
.darkGreen {
  background-color : $darkGreen;
  color : $black;
  border-color : $black;
    /*p,h1,h2,h3,h4 {color : ;}*/
}
.lightGreen {
  background-color : $lightGreen;
  color : $black;
  border-color : darken($lightGreen, 30);
    /*p,h1,h2,h3,h4 {color : ;}*/
}

.greenText {color : $green;}
.darkGreenText {color : $darkGreen;}


/*
-- R E D S --
*/

.red {
  background-color : $red;
  color : $white;
  border-color : $darkRed;
    /*p,h1,h2,h3,h4 {color : ;}*/
}
.lightRed {
  background-color : $lightRed;
  color : $black;
  border-color : $darkRed;
    /*p,h1,h2,h3,h4 {color : ;}*/
}

.superLightRed {
  background-color : $superLightRed;
  color : $darkRed;
  border-color : $darkRed;
    /*p,h1,h2,h3,h4 {color : ;}*/
}
.redText {color : $red;}


/*
-- G R E Y S --
*/


.superLightGrey {
  background-color : $superLightGrey;
  color : $black;
  border-color : $darkGrey;
    /*p,h1,h2,h3,h4 {color : ;}*/
}

.lightGrey {
  background-color : $lightGrey;
  color : $black;
  border-color : $grey;
  &:hover {border-color : $black!important;}
    /*p,h1,h2,h3,h4 {color : ;}*/
}

.darkLightGrey {
  background-color : $darkLightGrey;
  color : $black;
  border-color : $grey;
  &:hover {border-color : $black!important;}
    /*p,h1,h2,h3,h4 {color : ;}*/
}

.grey {
  background-color : $grey;
  color : $black;
  border-color : $darkGrey!important;
    /*p,h1,h2,h3,h4 {color : ;}*/
}

.mediumGrey {
  background-color : $mediumGrey;
  color : $white;
  border-color : $darkGrey;
    /*p,h1,h2,h3,h4 {color : ;}*/
}

.darkGrey {
  background-color : $darkGrey;
  color : $white;
  border-color : $darkGrey;
  p,h1,h2,h3,h4 {color : $grey;}
}

.superDarkGrey {
  background-color : $superDarkGrey;
  color : $white;
  border-color : $darkGrey;
  p,h1,h2,h3,h4 {color : $superDarkWarmGrey;}
}

.warmGrey {
  background-color : $warmGrey;
  color : $white;
  border-color : $darkWarmGrey;
  p,h1,h2,h3,h4 {color : $superDarkWarmGrey;}
}

$warmGrey : #e2e2d8;
$darkWarmGrey : #b7b79e;
$superDarkWarmGrey : #302f2a;



.greyText {color : $grey;}
.lightGreyText {color : $lightGrey;}
.mediumGreyText {color : $mediumGrey;}


/*
-- P I N K S --
*/

.pink {
  background-color : $pink;
  color : $black;
  border-color : $darkPink;
  p,h1,h2,h3,h4 {color : $white;}
}
.pinkText {color : $pink;}
.lightPinkText {color : $lightPink;}
.darkPinkText {color : $darkPink;}


/*
-- S A L M O N S--
*/

.salmon {
  background-color : $salmon;
  color : $black;
  border-color : $darkSalmon;
    /*p,h1,h2,h3,h4 {color : ;}*/
}


/*
-- R E D P I N K S--
*/

.redPink {
  background-color : $redPink;
  color : $black;
  border-color : $darkRedPink;
    /*p,h1,h2,h3,h4 {color : ;}*/
}


/*
-- P I N K P U R P L E S --
*/


.pinkPurple {
  background-color : $pinkPurple;
  color : $white;
  border-color : $darkPinkPurple;
    /*p,h1,h2,h3,h4 {color : ;}*/
}

.lightPinkPurple {
  background-color : $lightPinkPurple;
  color : $black;
  border-color : $darkPinkPurple;
    /*p,h1,h2,h3,h4 {color : ;}*/
}

.superLightPinkPurple  {
  background-color : $superLightPinkPurple;
  color : $black;
  border-color : $darkPinkPurple;
    /*p,h1,h2,h3,h4 {color : ;}*/
}


/*
-- P U R P L E S --
*/

.purple {
  background-color : $purple;
  color : $black;
  border-color : $darkPurple;
  p,h1,h2,h3,h4 {color : $white;;}
}


/*
-- O R A N G E S --
*/


.orange {
  background-color : $orange;
  color : $black;
  border-color : $darkOrange;
    /*p,h1,h2,h3,h4 {color : ;}*/
}
.lightOrange {
  background-color : $lightOrange;
  color : $darkOrange;
  border-color : $darkOrange;
    /*p,h1,h2,h3,h4 {color : ;}*/
}

.superLightOrange  {
  background-color : $superLightOrange;
  color : $darkOrange;
  border-color : $darkOrange;
    /*p,h1,h2,h3,h4 {color : ;}*/
}

/*
-- S E A B L U E S --
*/


.seablue {
  background-color : $seablue;
  color : $black;
  border-color : $darkSeablue;
    /*p,h1,h2,h3,h4 {color : ;}*/
}




  
