/*-- Setup your structure here --*/

section {
  max-width: 64em;
  margin-left: auto;
}

.pillGroup {
  background-color: #000;
}

.blue {
  background-color: blue;
}

.red {
  background-color: red;
}

.controlPanel {
  border: 0;
  display: block;
}

p {
  line-height: 1em;
  font-size: 1em;
}
