/*-- Setup your structure here --*/

section {
  max-width: 64em;
  margin-left: auto;
  padding: 2em;
}

.pillGroup {
  background-color: #000;
}

.blue {
  background-color: blue;
}

.red {
  background-color: red;
}
