/*-- MOLECULES --*/

// Cards
/*--
<div class="card">
  <div class="superHeader"><span class="flexChild">todays date</span><button type="button" class="iconButton small"><span class="icon-x"></span></button></div>
  <hr>
  <div class="mediaHolder"><img src="../imageBank/van.png" width="100%" alt=""></div>
  <div class="contentHolder">
    <a href="" class="header">Header</a>
    <p class="meta">Meta</p>
    <p class="description">Description</p>
  </div>
  <div class="actionsHolder">actions</div>
</div>
--*/

.card {
  width : 20em;
  @include paddingTRBL(1);
  @include marginRBL(2);
  @extend .lightGrey;
  @extend .bottom-border2px;

  .superHeader {
    @include align-items(center);
    @extend .flex-1-0;
    @include paddingB(1);
    color : $mediumGrey;
  }

  hr {margin-bottom : 1em;}

  .mediaHolder {
    img {
      width: 100%;
      display: block;
    }
    @include paddingB(1);
  }

  .contentHolder {
    .header {
      font-size : 2em;
      line-height: 0.75em;
      text-decoration: none;
      color : $darkGrey;
    }
    .meta {font-style: italic;margin-bottom : 0;color : $mediumGrey;}
    .description {@include marginB(1);}
  }
}



.hero {
  max-width : 100%;
  border-bottom : solid 1px $lightGrey;
  @include paddingTRBL(4);
  padding-bottom : calc(4em);
  @include flexbox;
  @include flex-direction(column);

  p.author {
  	margin-top : 1em;
  }

  header {
    margin-bottom : 0;
    max-width : 55em;
  }

  header p {
    margin-bottom : 0;
    padding : 0;
    min-width : 100%;
    line-height : 1.5em;
  }

  .branding {
    @include align-self(flex-end);
    margin-bottom : 2em;
  }
}


// TEST VERSION OF FLIP

.flipcard {
  width : 20em;
  .superHeader {
    @include align-items(center);
    @extend .flex-1-0;
    @include paddingB(1);
    color : $mediumGrey;
  }

  hr {margin-bottom : 1em;}

  .mediaHolder {
    img {
      width: 100%;
      display: block;
    }
    @include paddingB(1);
  }

  .contentHolder {
    .header {
      font-size : 2em;
      line-height: 0.75em;
      text-decoration: none;
      color : $darkGrey;
    }
    .meta {font-style: italic;margin-bottom : 0;color : $mediumGrey;}
    .description {@include marginB(1);}
  }
}


// END TEST VERSION OF FLIP

/*-- MEDIA QUERIES --*/

@media all and (max-width: 980px) {

    .hero {

      .branding {
      /*@include align-self(flex-start);*/
      margin-bottom : 2em;

        img { width : 75%; }

      }

      header h1 {
        font-size : 2em;
      }

      header p {
        font-size : 1.5em;
      }
  }

}

@media all and (max-width: 400px) {
    .hero {
      padding : 2em;

      .branding {@include align-self(flex-start);
        img { width : 50%;}
      }
      header h1 {font-size : 1.5em;}
      header p {font-size : 1em;}
    }
}



/*-- NAV --*/
nav#main {
	padding : 0.75em;
	padding-right : 1em;
	@extend .black;
	button {margin : 0;margin-left: 0.5em;}
	min-height : 2em;
	align-content : center;
	align-items: center;
}

.branding {
/* Used for holding the barnding */
	padding-right : 2em;
}

.subnav {

	padding: 0.5em;
	@include flexbox;
	align-content : center;

}

@media all and (max-width: 980px) {
	nav#main, subnav {
	/*
	-webkit-flex-direction: column;
	flex-direction: column;
	*/
	justify-content : flex-start;

	}
}


/*-- SEARCH BOX --*/

.searchBox, .searchBoxOptions {
align-items: flex-start;
@extend .flex;
	input[type="text"],input[type="checkbox"],label {
		display : inline;
	}
}

.searchBox input,.searchBoxOptions input  {
  border-color : $mediumGrey;
  border-right : 0;
}

.searchBox input:focus, .searchBoxOptions input:focus {
  border-right : 0;
}

/*-- Stop the input and label wrapping --*/
span.option {
	@extend .flex;
	@extend .noWrap;
}

.searchBox button, .searchBox input[type=submit] {
  @extend .border1px;
  border-left : 0;
  min-height : 3em;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  @extend .green;
}



.searchBox p {
  margin-left: 2em;

}

/*-- SEARCH BOX WITH OPTION --*/

.searchBoxOptions span {
	padding-left : 0.5em;
	/*padding-right : 0.5em;*/
	padding-bottom : calc(1em - 2px);
	border : solid 1px $mediumGrey;
	border-right : 0;
	line-height : 1.5em;
}

.searchBoxOptions span label {
	position : relative;
	top : 0.625em;
}

.searchBoxOptions button, .searchBoxOptions input[type=submit] {
  @extend .green;
  @extend .border1px;
  border-left : 0;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  }

.searchBoxOptions input[type=submit]:focus {
	//@extend .border4px;
	border-left : 0;
	border-right : 1px solid $darkGreen;
	@extend .green;
}

 .searchBoxOptions span, .searchBoxOptions input,  .searchBoxOptions label {
 	display : inline;
 }

/*-- FLEXBOX CONTAINERS --*/
// A container with 2 child containers
// the container on the left has flex: 1
// the container on the right has flex : none

/*-- POLITI DIVIDER --*/

.politidiv {
height : 7px;
background: linear-gradient(
  135deg,
  $mediumYellow 20%,
  $yellow 20%,
  $blue 20%,
  $darkBlue 50%);
}

.politidiv:before {
	content:"\00a0";
}

/*-- STICKY SIDEBAR --*/

.stickySideBar {
  position : fixed;
  left : 0;
  /*-- adjust this based on number of buttons --*/
  /*-- example: 3 buttons = ca. 9em --*/
  /*-- therefore dist from top = 4.5em (half) --*/

  top : calc(50%);
  z-index : 999;

  button {display : block;margin-bottom : 1px;border-radius : 0;}
  @extend .iconButton;
}

/*-- Flexbox containers --*/


/*-- Vertically center --*/
.vcenter {
  align-items: center;
}

/*-- Horizontally center --*/
.hcenter {
  @include justify-content(center);
}

/*-- Justify  content end --*/
.justifyEnd {@include justify-content(flex-end);}

.flex,
.flex-0-1,
.flex-1-0,
.flex-1-1,
.flex-0-0-1,
.flex-1-0-0,
.flex-0-1-0,
.flex-1-1-1,
.flex-1-1-0,
.flex-1-0-1,
.flex-0-1-1
{@include flexbox;}

/*-- ONE CHILD--*/

.flex .flexChild {flex : 1;}

/*-- TWO CHILDREN --*/

.flex-0-1 .flexChild:first-child {flex : none;}
.flex-0-1 .flexChild:last-child {flex : 1 0 auto;}

.flex-1-0 .flexChild:first-child {flex : 1 0 auto;}
.flex-1-0 .flexChild:last-child {flex : none;}

.flex-1-1 .flexChild {flex : 1 0 auto;}

/*-- THREE CHILDREN --*/

.flex-0-0-1 .flexChild:last-child {flex : 1 0%;}
.flex-1-0-0 .flexChild:first-child {flex : 1;}
.flex-0-1-0 .flexChild:nth-child(2n) {flex : 1;}
.flex-1-1-1 .flexChild {flex : 1;}

.flex-1-1-0 .flexChild {flex : 1 0%;}
.flex-1-1-0 .flexChild:last-child {flex : none;}

.flex-1-0-1 .flexChild {flex : 1 0%;}
.flex-1-0-1 .flexChild:nth-child(2n) {flex : none;}

.flex-0-1-1 .flexChild {flex : 1;}
.flex-0-1-1 .flexChild:first-child {flex : none;}




/*-- SIDE PANEL --*/
$panelWidth : 40em;
$zindex : 100;

//
// The Panel Container
//

.cd-panel-container {
  position: fixed;
  height: 100%;
  top: 0em;
  z-index: $zindex;
  @include transitionProperty(transform);
  @include transitionDuration(0.15s);
  @include transitionDelay(0.15s);
  // @include paddingRL(2);
  // Add background in local custom file
  // EG: background : rgba(34,124,201,0.2);
}

.from-right .cd-panel-container {
  right: 0;
  @include translate3d(37em, 0, 0);
}

.from-left .cd-panel-container {
  left: 0;
  @include translate3d(100%, 0, 0);
}

.is-visible .cd-panel-container {
  @include translate3d(0, 0, 0);
  @include transitionDelay(0s);
}

//
// The Panel Content
//

.cd-panel-content {
  position: absolute;
  top: 0em;
  right: 0;
  height: 100%;
  overflow: auto;

  // Add padding to custom stylesheet
  /* smooth scrolling on touch devices */
  -webkit-overflow-scrolling: touch;
}
