/* FORMS */

legend {
font-weight: bold;
}

input[type="checkbox"], 
input[type="radio"] { 
box-sizing: border-box; 
}

fieldset {
margin-bottom: 1em;
border:0px;
}

label {
margin-right: 1em;
margin-bottom: 0.5em;
}

/*-- HINT TEXT --*/
label > span {
	display: block;
	color: #999;
}


/*-- SELECTS --*/
select {
padding: 1em;
@extend .border1px;
height: 2em;
}

select option {
border: none;
}


/*- Common -*/

input[type="password"],
input[type="search"],
input[type="url"],
input[type="tel"],
input[type="number"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="color"],
input[type="range"],
input[type="email"],
input[type="file"],
input[type="text"],
textarea,
select 
{
font-size: 1.0em;
	@extend .border1px;
	padding : 0.625rem;
	box-sizing: border-box;
	overflow:visible;
	display: block;
	min-height : 3em;
}

input[type="checkbox"],
input[type="radio"]
{
	box-sizing: border-box;
}
input[type="password"]:focus,
input[type="search"]:focus,
input[type="url"]:focus,
input[type="tel"]:focus,
input[type="number"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="week"]:focus,
input[type="time"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="color"]:focus,
input[type="range"]:focus,
input[type="email"]:focus,
input[type="file"]:focus,
input[type="text"]:focus,
input[type="checkbox"]:focus,
input[type="radio"]:focus,
textarea:focus
 {
outline: 0;
font-size: 1em;
line-height: 1.5em;
padding: 0.625em;
background-color: $superLightGrey;
box-sizing: border-box;
@extend .border1px;
border-color : $black;
}
/*- focus -*/

input[type="text"]:focus,
input[type="email"]:focus,
input[type="search"]:focus,
textarea:focus,
input:valid:focus, 
textarea:valid:focus,
input:invalid:focus, 
textarea:invalid:focus 
{
	background-color: $white;
}

/*-- GIVE RADIOS A BIT OF MARGIN --*/

input[type="radio"] {
  margin-right : 0.5em;
}


/*-- MAKE THE LABELS DISPLAY AS BLOCKS --*/

label input, label textarea {
display: block;
}

/*-- MAKE THE LABELS DISPLAY AS INLINES --*/
label input[type="checkbox"], 
label input[type="radio"] {
display: inline;
}


/*-- STEPPERS --*/
input[type=number]::-webkit-inner-spin-button { 
    -webkit-appearance: none;
    cursor:pointer;
    display:block;
    width:8px;
    color: #333;
    text-align:center;
    position:relative;
}

input[type=number]::-webkit-inner-spin-button:before,
input[type=number]::-webkit-inner-spin-button:after {
    content: "^";
    position:absolute;
    right: 0;
    font-family:monospace;
    line-height: 1em;
}

input[type=number]::-webkit-inner-spin-button:before {
    top:0px;
}

input[type=number]::-webkit-inner-spin-button:after {
    bottom:0px;
    -webkit-transform: rotate(180deg);
}